.heroWrapper {
  color: red;
  width: 100%;
  height: auto;
  padding: 30px 0 80px 0;

  .heroContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .imageContainer {
    width: 600px;
    height: 700px;

    .image {
      width: 100%;
      height: auto;
    }
  }
}
