.heroWrapper {
  width: auto;
  height: auto;
  padding: 30px 0 80px 0;
  margin: 0 12vh 0 12vh;

  .heroContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 80px;

    .textContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        text-transform: uppercase;
        font-size: clamp(2rem, 5vw, 4rem);
        margin-bottom: 8px;
        color: white;
      }

      p {
        font-size: 16px;
        margin-bottom: 40px;
        color: white;
      }

      .contactButtons {
        width: 100%;
        display: flex;
        gap: 3vh;

        .contactButton {
          width: 154px;
          height: 54px;
          cursor: pointer;
          background: #00adf7;
          border: none;
          border-radius: 4vh;
          padding: 12px 24px;
          font-size: 16px;
          transition: all 0.2s ease-in-out;

          a {
            text-decoration: none;
            color: black;
            background: none;
            display: flex;
            justify-content: center;
          }
        }

        .iconButton {
          width: 54px;
          height: 54px;
          cursor: pointer;
          background: #222222;
          border: none;
          border-radius: 4vh;
          padding: 12px 24px;
          transition: all 0.2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            display: flex;
            align-items: center;

            > svg {
              background: #222222;
              fill: #00adf7;
            }
          }
        }
      }
    }

    .imageContainer {
      width: 100%;
      height: auto;

      .image {
        width: 600px;
        height: 663px;
        border-radius: 3%;
      }
    }
  }
}
