@mixin inter-regular($size: 1rem, $lh: 1.5) {
  font-family: "Inter";
  font-weight: 400;
  font-size: $size;
  line-height: $lh;
}

@mixin inter-medium($size: 1rem, $lh: 1.5) {
  font-family: "Inter";
  font-weight: 500;
  font-size: $size;
  line-height: $lh;
}

@mixin inter-semibold($size: 1rem, $lh: 1.5) {
  font-family: "Inter";
  font-weight: 600;
  font-size: $size;
  line-height: $lh;
}

@mixin inter-bold($size: 1rem, $lh: 1.5) {
  font-family: "Inter";
  font-weight: 700;
  font-size: $size;
  line-height: $lh;
}

@mixin bebas($size: 1rem, $weight: 400) {
  font-family: "Bebas Neue";
  font-weight: $weight;
  font-size: $size;
  line-height: 1.1;
}
