// Colors buttons
$color-buttons: #00adf7;

// Color background
$color-background: #000;

// Colors text
$color-text: white;
$color-description: #aaa;
$color-nav-name: #aaa;
$color-text-highlight: #00adf7;

// Colors hover
$hover-button-text: #00adf7;
$hover-button-background: #00adf7;
$hover-button-icon: white;
