@use "@/styles/variables" as *;
@use "@/styles/typography" as t;

.footerContainer {
  width: auto;
  height: auto;

  .footerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 10vh;

    .footerData {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .footerText {
        display: flex;
        flex-direction: column;

        .footerTitle {
          text-transform: uppercase;
          font-size: clamp(2rem, 5vw, 4rem);
          margin-bottom: 16px;
          color: $color-text;
        }

        .footerDescription {
          font-size: 16px;
          margin-bottom: 40px;
          color: $color-description;
          @include t.inter-regular(16px);

          .footerHighlight {
            color: $color-text-highlight;
          }
        }
      }
    }

    .contactItemContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .contactItem {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        > svg {
          fill: $color-text-highlight;
          width: 30px;
          height: 30px;
        }

        .contactText {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .contactLabel {
            color: $color-description;
            text-transform: uppercase;
            @include t.inter-semibold(12px);
          }

          .contactValue {
            color: $color-text;
            @include t.inter-semibold(16px);
          }
        }

        &:hover {
          box-shadow: 0 0 10px white;
        }
      }
    }
  }

  .footerCopyright {
    @include t.inter-regular(16px);
    color: $color-description;
    text-align: start;
  }
}
