@use "@/styles/typography" as t;
@use "@/styles/variables" as *;

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw 20px 5vw;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-background;

  .logo {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    @include t.bebas(32px);

    a {
      text-decoration: none;
      color: $color-nav-name;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $hover-button-text;
      }
    }
  }

  .listContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .listItemNav {
      width: auto;
      height: 24px;
      margin-right: 5vh;
      list-style: none;
      font-size: 16px;

      a {
        color: $color-description;
        text-decoration: none;
        transition: 0.5s ease-in-out;

        &:hover {
          color: $hover-button-text;
        }
      }
    }
  }
}
